name: Build Release

on:
  push:
    tags:
      - v*
      - pre-rel-*

jobs:
  release:
    name: CI
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: cargo tree --locked

      - name: Build
        run: cargo build --workspace --release

      - name: Move descriptor
        run: cp conf/ya-dummy-cruncher.json target/release/ya-dummy-cruncher.json

      - name: Pack
        id: pack
        shell: bash
        env:
          OS_NAME: ${{ matrix.os }}
          GITHUB_REF: ${{ github.ref }}
        run: |
          bash .ci/pack-build.sh

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            releases/runtime-*
            releases/dummy-framework-*
            releases/dummy-cruncher-*
          prerelease: ${{ startsWith(github.ref, 'refs/tags/pre-rel-v') }}
